/* =========================================
   CTA PROJECT 
   ========================================= */

.ctaSection {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: var(--space-8) var(--space-4);
    margin-top: var(--space-8);
}

.ctaContainer {
   max-width: 40.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-6);
}

.ctaTitle {
    font-size: var(--text-2xl);
    font-weight: var(--weight-black);
    color: var(--main-text);
    margin: 0;
}

.ctaText {
    font-size: var(--text-lg);
    line-height: var(--dynamic-line-height);
    color: var(--main-text);
    opacity: 0.7;
    margin: 0;

    p {
        text-align: center !important
    }

}

.ctaIcon {
    transition: transform var(--duration-slow) var(--ease-out-quart);
}

.ctaButton:hover .ctaIcon {
    transform: translateX(5px);
}

/* =========================================
   RESPONSIVE (MOBILE)
   ========================================= */

@media (max-width: 768px) {
    .ctaSection {
        /* reduction marges extérieures  */
        padding: var(--space-6) var(--space-2);
        margin-top: var(--space-4);
    }

    .ctaContainer {
        gap: var(--space-4);
    }

    .ctaTitle {
        /*reduction taille titre */
        font-size: var(--text-xl);
    }

    .ctaText {
        font-size: var(--text-base);
    }

    .ctaButton {

        padding: var(--space-2) var(--space-6) !important;
        width: 100%;
        justify-content: center; 
    }
}