/* =========================================
   CTA PROJECT 
   ========================================= */

.ctaSection {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: var(--space-8) var(--space-4);
    margin-top: 2rem;
}

.ctaContainer {
   max-width: 40.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-6);
}

.ctaTitle {
    font-size: calc(var(--user-size) * 2.2);
    font-weight: var(--weight-black);
    color: var(--main-text);
    margin: 0;
}

.ctaText {
    font-size: calc(var(--user-size) * 1.1);
    line-height: var(--dynamic-line-height);
    color: var(--main-text);
    opacity: 0.7;
    margin: 0;

    p {
        text-align: center !important
    }

}

.ctaButton {
    margin-top: var(--space-4);
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: var(--main-text) !important;
    color: var(--main-background) !important;
    padding: var(--space-3) var(--space-8) !important;
    letter-spacing: 2px;
   
   

}

.ctaIcon {
    transition: transform 0.3s ease;
}

.ctaButton:hover .ctaIcon {
    transform: translateX(5px);
   
}

/* =========================================
   RESPONSIVE (MOBILE)
   ========================================= */

@media (max-width: 768px) {
    .ctaSection {
        /* reduction marges extérieures  */
        padding: var(--space-6) var(--space-2);
        margin-top: 1rem;
    }

    .ctaContainer {
        gap: var(--space-4);
    }

    .ctaTitle {
        /*reduction taille titre */
        font-size: calc(var(--user-size) * 1.8);
    }

    .ctaText {
        font-size: calc(var(--user-size) * 1);
    }

    .ctaButton {

        padding: var(--space-2) var(--space-6) !important;
        
        /* OPTIONNEL : boutons "pleine largeur" */
        width: 100%;
        justify-content: center; 
    }
}