/* Formulaire Contact */
    /* .contactform_container {
        margin-top: var(--space-4);


        #contactForm {
            display: flex;
            flex-direction: column;

            gap: var(--space-2);
            margin-top: var(--space-2);

            div {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                gap: var(--space-2);
            }

            label {
                font-size: var(--font-size-small);
                font-weight: var(--weight-medium);
                opacity: 0.8;
                margin-top: 2%;
            }

            input,
            textarea {
                padding: var(--space-4);
                border: 1.5px solid rgb(from var(--main-text) r g b / 20%);
                background: var(--main-background);
                color: var(--main-text);
                font-family: inherit;
                border-radius: var(--radius-sm);
                transition: all 0.2s ease;

                &:focus {
                    outline: none;
                    border-color: var(--main-text);
                    box-shadow: 0 0 0 3px rgb(from var(--main-text) r g b / 5%);
                }

                &::placeholder {
                    opacity: 0.4;
                    font-style: italic;
                }
            }

            textarea {
                min-height: 40%;
                resize: vertical;
            }

            button#submitBtn {
                margin-top: var(--space-2);
                padding: var(--space-2);
                align-self: flex-start;
                width: fit-content;
                padding: 12px 30px;
            }


        }
    }
 */

    .contactform_container {

        .contactForm {
            display: flex;
            flex-direction: column;
            gap: 15px;
            max-width: 500px;
            border: solid 1px saddlebrown;

            input,
            textarea {
                padding: 12px;
                border: 1px solid var(--main-text);
                background: transparent;
                color: inherit;
                font-family: inherit;
            }

            button {
                padding: 15px;
                background: var(--main-text);
                color: var(--main-background);
                border: none;
                cursor: pointer;
                font-weight: bold;

                &:hover {
                    opacity: 0.9;
                }
            }
        }
    }
